body {
    color: #40514E;
    margin: 0;
    text-align: center;
    /*This is used to center all the inline elements or the full width block elements
    If block elements are having some width then this property will not center the content
    for them we'll have to use this:
    h1{
        width:10%
        margin:0 auto*/
    font-family: 'Merriweather', serif;
}

h1 {
    font-size: 5.625rem;
    /*90 px=562.5%=5.625em*/
    /*em or percentages are inheriting in nature that means if font size is mentioned for the body and then again for the
    h1 or h2 then the size gets added.While pixels are not inheriting .To avoid this problem we can use rem.*/
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;

}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #DEFCF9;
    position: relative;
    padding-top: 100px;
}

/* .mid-container{
   
}*/
.bottom-container {
    padding: 50px 0 20px;
    background-color: #66BFBF;
    
}
.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin: 20px 30px;

}
a:hover{
    color: #EAF6F6;
}

/*CSS Display elements:
1.Display:block (block elements are <p>,<h1> to <h6>,divs,<ol>,<ul> and html forms
2.Display:Inline(inline elements are span,img and anchor tags
3.Display:block inline-->these are the best type of display options since they allow the content to be inline
as well as allow us to set the width of the content.*/
.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 30px;
    right: 300px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;


}
p{
    line-height: 2;
}

.coding {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.painting {
    width: 25%;
    float: right;
    margin-right: 30px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 30px auto;
    
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.profile {
    width: 30%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.dp {
    position: relative;
    left: 80px;
}

.hello {
    text-align: center;
}

hr {
    /* background-color: white;
    border-style: dotted none none;
    height: 0px;
    width: 10%; */
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(206, 204, 204);
    border-width: 5px;
    width: 3%;
    margin: 100px auto;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
    line-height: 2;
}

.contact-description {
    text-align: center;
}